<div class="container mt-3">


    <div class="card">
        <div class="card-body">


            <h4>Consulta de Contatos</h4>
            <p>Listagem de contatos cadastrados.</p>
            <hr />


            <div *ngIf="mensagem" class="alert alert-primary alert-
                 dismissible fade show mb-2" role="alert">
                <strong>{{mensagem}}</strong>
                <button type="button" class="btn-close" aria- label="Close" (click)="mensagem = ''"></button>
            </div>


            <div class="table-responsive">
              <div class="col-sm-6 col-md-4">
                <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
              </div>
              <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Nome do contato</th>
                      <th>Email</th>
                      <th>Telefone</th>
                      <th>Data do cadastro</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of contatos| search: searchText">
                      <td>{{c.nome}}</td>
                      <td>{{c.email}}</td>
                      <td>{{c.telefone}}</td>
                      <td>{{c.dataHoraCadastro | date: 'dd/MM/yyyy HH:mm'}}</td>
                      <td>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/editar-contato', c.idContato]">
                          Editar
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-sm" (click)="onDelete(c.idContato)">
                          Excluir
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                     
                    </tr>
                  </tfoot>
                </table>
              </div>
              


        </div>
    </div>
</div>